@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --font-01: 'Rubik Mono One', sans-serif, Arial, verdana, monospace;
    --font-02: 'Rubik', sans-serif, Arial, verdana;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: #216AED;
    padding: 20px 0 20px 0;
    width: 100%;
}

main{
    max-width: 40rem;
    min-height: 20rem;
    width: 100%;
}

footer{
    background-color: #216AED;
    font-family: var(--font-02);
    text-align: center;
    color: white;
    padding: 14px;
    width: 100%;
}

.container{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.consultcep > h1{
    font-family: var(--font-01);
    margin-bottom: 14px;
    text-align: center;
    font-size: 25px;
}

.consult-input > input{
    box-shadow: 4px 4px 2px #0000004b;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    border: none;
    height: 35px;
    width: 480px;
}

.consult-input > input:focus{
    outline: none;
}

.resul > div,.resul{
    background-color: #216AED;
    flex-direction: column;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.resul{
    justify-content: space-evenly;
    align-items: center;
}

.resul > div > p,.resul{
    font-family: var(--font-01);
    color: white;
}

.resul > div > p > strong{
    font-family: var(--font-02);
}


